.header {
	background: var(
		--Background-Background-pgina-de-inicio,
		linear-gradient(
			180deg,
			rgba(198, 241, 191, 0.56) 0%,
			rgba(103, 189, 234, 0.38) 90.92%,
			rgba(255, 255, 255, 0.75) 127.47%
		),
		#fff
	);
	backdrop-filter: blur(2px);
}
.nav {
	background: var(
		--Background-Background-Header,
		linear-gradient(
			180deg,
			rgba(198, 241, 191, 0.56) 0%,
			rgba(103, 189, 234, 0) 471.67%
		),
		#fff
	);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.modal {
	background: var(
		--Background-Background-Side-menu,
		linear-gradient(
			180deg,
			rgba(198, 241, 191, 0.56) 0%,
			rgba(103, 189, 234, 0.38) 49.99%,
			rgba(188, 236, 195, 0.56) 99.99%
		),
		#fff
	);
	backdrop-filter: blur(2px);
}
.shadow {
	box-shadow: 6px 6px 8px 0px rgba(70, 123, 62, 0.3);
}
.footer {
	background: var(
		--Background-Background-Footer-web,
		linear-gradient(
			180deg,
			rgba(198, 241, 191, 0.56) 0%,
			rgba(103, 189, 234, 0.38) 90.92%,
			rgba(255, 255, 255, 0.75) 127.47%
		),
		#fff
	);
	backdrop-filter: blur(2px);
}
.footerFinal {
	background: linear-gradient(
			180deg,
			rgba(198, 241, 191, 0.56) 0%,
			rgba(103, 189, 234, 0) 471.67%
		),
		var(--color-gray-10, #fff);
}
