.asideBackground {
	background: linear-gradient(
			180deg,
			rgba(198, 241, 191, 0.56) 0%,
			rgba(103, 189, 234, 0.38) 49.99%,
			rgba(188, 236, 195, 0.56) 99.99%
		),
		#fff;
}
.badge {
	top: 25%;
	left: 53%;
}
